In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [9]:
data = pd.read_csv('/content/gdrive/MyDrive/play.csv')
data = data.drop(columns=['day'])
data.head()

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data.outlook = le.fit_transform(data.outlook)
data.temp = le.fit_transform(data.temp)
data.humidity =le.fit_transform(data.humidity)
data.wind =le.fit_transform(data.wind)
data.play = le.fit_transform(data.play)
data

    outlook  temp  humidity  wind  play
0         2     1         0     1     0
1         2     1         0     0     0
2         0     1         0     1     1
3         1     2         0     1     1
4         1     0         1     1     1
5         1     0         1     0     0
6         0     0         1     0     1
7         2     2         0     1     0
8         2     0         1     1     1
9         1     2         1     1     1
10        2     2         1     0     1
11        0     2         0     0     1
12        0     1         1     1     1
13        1     2         0     0     0

In [11]:
X = data.drop(['play'], axis=1)

y = data['play']
X

    outlook  temp  humidity  wind
0         2     1         0     1
1         2     1         0     0
2         0     1         0     1
3         1     2         0     1
4         1     0         1     1
5         1     0         1     0
6         0     0         1     0
7         2     2         0     1
8         2     0         1     1
9         1     2         1     1
10        2     2         1     0
11        0     2         0     0
12        0     1         1     1
13        1     2         0     0

In [12]:
print(len(X))

14

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)

print(X_train.shape, X_test.shape)

(10, 4) (4, 4)

In [14]:
from sklearn.naive_bayes import CategoricalNB
clf = CategoricalNB()
clf.fit(X_train, y_train)
print('Predicted Values = ',end =' ')
print(le.inverse_transform(clf.predict(X_test)))
print('\nActual Values = ',end =' ')
print(le.inverse_transform(y_test))

Predicted Values =  ['Yes' 'No' 'No' 'Yes']

Actual Values =  ['Yes' 'Yes' 'No' 'Yes']

In [15]:
clf.score(X_test,y_test)

0.75

In [16]:
data = pd.read_csv('/content/gdrive/MyDrive/music.csv')
data.head()

,Class,_RMSenergy_Mean,_Lowenergy_Mean,_Fluctuation_Mean,_Tempo_Mean,_MFCC_Mean_1,_MFCC_Mean_2,_MFCC_Mean_3,_MFCC_Mean_4,_MFCC_Mean_5,...,_Chromagram_Mean_9,_Chromagram_Mean_10,_Chromagram_Mean_11,_Chromagram_Mean_12,_HarmonicChangeDetectionFunction_Mean,_HarmonicChangeDetectionFunction_Std,_HarmonicChangeDetectionFunction_Slope,_HarmonicChangeDetectionFunction_PeriodFreq,_HarmonicChangeDetectionFunction_PeriodAmp,_HarmonicChangeDetectionFunction_PeriodEntropy
0,relax,0.052,0.591,9.136,130.043,3.997,0.363,0.887,0.078,0.221,...,0.426,1.000,0.008,0.101,0.316,0.261,0.018,1.035,0.593,0.970
1,relax,0.125,0.439,6.680,142.240,4.058,0.516,0.785,0.397,0.556,...,0.002,1.000,0.000,0.984,0.285,0.211,-0.082,3.364,0.702,0.967
2,relax,0.046,0.639,10.578,188.154,2.775,0.903,0.502,0.329,0.287,...,0.184,0.746,0.016,1.000,0.413,0.299,0.134,1.682,0.692,0.963
3,relax,0.135,0.603,10.442,65.991,2.841,1.552,0.612,0.351,0.011,...,0.038,1.000,0.161,0.757,0.422,0.265,0.042,0.354,0.743,0.968
4,relax,0.066,0.591,9.769,88.890,3.217,0.228,0.814,0.096,0.434,...,0.004,0.404,1.000,0.001,0.345,0.261,0.089,0.748,0.674,0.957

In [17]:
data.Class = le.fit_transform(data.Class)
data

,Class,_RMSenergy_Mean,_Lowenergy_Mean,_Fluctuation_Mean,_Tempo_Mean,_MFCC_Mean_1,_MFCC_Mean_2,_MFCC_Mean_3,_MFCC_Mean_4,_MFCC_Mean_5,...,_Chromagram_Mean_9,_Chromagram_Mean_10,_Chromagram_Mean_11,_Chromagram_Mean_12,_HarmonicChangeDetectionFunction_Mean,_HarmonicChangeDetectionFunction_Std,_HarmonicChangeDetectionFunction_Slope,_HarmonicChangeDetectionFunction_PeriodFreq,_HarmonicChangeDetectionFunction_PeriodAmp,_HarmonicChangeDetectionFunction_PeriodEntropy
0,2,0.052,0.591,9.136,130.043,3.997,0.363,0.887,0.078,0.221,...,0.426,1.000,0.008,0.101,0.316,0.261,0.018,1.035,0.593,0.970
1,2,0.125,0.439,6.680,142.240,4.058,0.516,0.785,0.397,0.556,...,0.002,1.000,0.000,0.984,0.285,0.211,-0.082,3.364,0.702,0.967
2,2,0.046,0.639,10.578,188.154,2.775,0.903,0.502,0.329,0.287,...,0.184,0.746,0.016,1.000,0.413,0.299,0.134,1.682,0.692,0.963
3,2,0.135,0.603,10.442,65.991,2.841,1.552,0.612,0.351,0.011,...,0.038,1.000,0.161,0.757,0.422,0.265,0.042,0.354,0.743,0.968
4,2,0.066,0.591,9.769,88.890,3.217,0.228,0.814,0.096,0.434,...,0.004,0.404,1.000,0.001,0.345,0.261,0.089,0.748,0.674,0.957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,0,0.174,0.578,5.265,161.144,2.985,0.065,0.718,0.046,0.265,...,0.374,0.838,0.413,0.125,0.323,0.140,0.120,2.691,0.867,0.969
396,0,0.176,0.498,5.042,179.787,2.790,-0.148,0.342,-0.011,0.029,...,0.020,1.000,0.640,0.010,0.233,0.127,0.145,3.364,0.879,0.967
397,0,0.187,0.557,4.724,134.032,1.672,0.566,0.880,-0.113,0.244,...,0.052,0.184,0.287,0.101,0.269,0.157,0.111,3.364,0.819,0.962
398,0,0.140,0.573,4.470,113.600,1.997,-0.210,0.694,0.089,0.206,...,0.137,1.000,0.304,0.140,0.277,0.144,0.061,3.364,0.811,0.969
399,0,0.086,0.475,5.343,151.748,2.240,-0.014,0.834,-0.021,0.345,...,0.099,1.000,0.094,0.033,0.195,0.110,0.007,0.641,0.848,0.965

In [18]:
X = data.drop(['Class'], axis=1)
y = data['Class']

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)
print(X_train.shape, X_test.shape)

(300, 50) (100, 50)

In [20]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(X_train, y_train)
print('Predicted Values = ',end =' ')
print(le.inverse_transform(clf.predict(X_test)))
print('\nActual Values = ',end =' ')
print(le.inverse_transform(y_test))

Predicted Values =  ['happy' 'sad' 'relax' 'relax' 'relax' 'relax' 'sad' 'sad' 'sad' 'happy'
 'sad' 'angry' 'sad' 'relax' 'happy' 'angry' 'angry' 'angry' 'sad' 'angry'
 'sad' 'relax' 'happy' 'angry' 'relax' 'angry' 'happy' 'sad' 'angry'
 'happy' 'angry' 'happy' 'relax' 'relax' 'relax' 'happy' 'happy' 'angry'
 'happy' 'happy' 'angry' 'relax' 'relax' 'relax' 'relax' 'angry' 'happy'
 'happy' 'relax' 'happy' 'relax' 'happy' 'happy' 'relax' 'angry' 'relax'
 'sad' 'sad' 'relax' 'happy' 'angry' 'happy' 'happy' 'sad' 'happy' 'relax'
 'happy' 'sad' 'happy' 'relax' 'relax' 'happy' 'sad' 'relax' 'angry'
 'angry' 'happy' 'angry' 'happy' 'relax' 'relax' 'sad' 'relax' 'sad' 'sad'
 'relax' 'relax' 'angry' 'happy' 'relax' 'relax' 'angry' 'happy' 'sad'
 'happy' 'angry' 'angry' 'happy' 'happy' 'relax']

Actual Values =  ['sad' 'sad' 'relax' 'sad' 'relax' 'relax' 'angry' 'relax' 'sad' 'happy'
 'relax' 'angry' 'relax' 'relax' 'happy' 'relax' 'sad' 'angry' 'sad'
 'angry' 'relax' 'relax' 'angry' 'sad' 'relax' 'angry' 'happy' 'sad' 'sad'
 'happy' 'angry' 'happy' 'sad' 'relax' 'sad' 'happy' 'happy' 'angry'
 'happy' 'happy' 'angry' 'relax' 'relax' 'relax' 'relax' 'angry' 'happy'
 'happy' 'relax' 'happy' 'relax' 'angry' 'angry' 'relax' 'angry' 'relax'
 'sad' 'happy' 'relax' 'happy' 'happy' 'sad' 'sad' 'relax' 'happy' 'relax'
 'angry' 'sad' 'angry' 'relax' 'angry' 'happy' 'relax' 'relax' 'angry'
 'sad' 'sad' 'angry' 'happy' 'sad' 'relax' 'relax' 'sad' 'sad' 'sad'
 'relax' 'sad' 'angry' 'happy' 'relax' 'sad' 'angry' 'happy' 'sad' 'happy'
 'angry' 'angry' 'angry' 'sad' 'relax']

In [21]:
clf.score(X_test,y_test)

0.66